.DS_Store
DESKTOP.INI

######################################################
# Visual Studio Ignores (Windows)
######################################################
build/
.vs/
out/

######################################################
# CMake Ignores
######################################################
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
